/analysis/irrigtopo_casestudy_snake/GRanD_palisades_irr_reservoirs.dbf
/analysis/irrigtopo_casestudy_snake/GRanD_palisades_irr_reservoirs.prj
/analysis/irrigtopo_casestudy_snake/GRanD_palisades_irr_reservoirs.qpj
/analysis/irrigtopo_casestudy_snake/GRanD_palisades_irr_reservoirs.shp
/analysis/irrigtopo_casestudy_snake/GRanD_palisades_irr_reservoirs.shx

/analysis/irrigtopo_casestudy_snake/GRanD_snake_irr_reservoirs.dbf
/analysis/irrigtopo_casestudy_snake/GRanD_snake_irr_reservoirs.prj
/analysis/irrigtopo_casestudy_snake/GRanD_snake_irr_reservoirs.qpj
/analysis/irrigtopo_casestudy_snake/GRanD_snake_irr_reservoirs.shp
/analysis/irrigtopo_casestudy_snake/GRanD_snake_irr_reservoirs.shx

/analysis/irrigtopo_casestudy_snake/hdma_palisades_catch_simplify.cpg
/analysis/irrigtopo_casestudy_snake/hdma_palisades_catch_simplify.dbf
/analysis/irrigtopo_casestudy_snake/hdma_palisades_catch_simplify.prj
/analysis/irrigtopo_casestudy_snake/hdma_palisades_catch_simplify.shp
/analysis/irrigtopo_casestudy_snake/hdma_palisades_catch_simplify.shx


/analysis/irrigtopo_casestudy_snake/hdma_palisades_river_with_lake.dbf
/analysis/irrigtopo_casestudy_snake/hdma_palisades_river_with_lake.prj
/analysis/irrigtopo_casestudy_snake/hdma_palisades_river_with_lake.qpj
/analysis/irrigtopo_casestudy_snake/hdma_palisades_river_with_lake.shp
/analysis/irrigtopo_casestudy_snake/hdma_palisades_river_with_lake.shx


/analysis/irrigtopo_casestudy_snake/runoff_sample.nc
/analysis/irrigtopo_casestudy_snake/Snake_catchment.qgs

.ipynb_checkpoints/

/analysis/lake_models_python/
/analysis/results_resobs_pythoncode/
/analysis/plots/
